* {
    ::after ::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    &::selection {
        background-color: $maincolor;
        color: white;
    }

    body {
        background-color: $maincolor;
        overflow-x: hidden;
    }
}